/* GENERAL */


/* https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
 https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
 */

.container {
    background-image: url('https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px 0 20px;
}

.content {
    margin: 5vh 0 12vh;
}

.card {
    margin-bottom: 15px;
}

.gradient-card {
    background-color: rgba(255, 255, 255, 0.884);
}

.card-title {
    margin-bottom: 15px;
}

.text-muted {
    font-size: large;
}

.submit {
    float: right;
    background-color: rgb(252, 0, 126);
    border-color: rgb(252, 0, 126);
}

a {
    color: rgb(252, 0, 126);
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 5;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    flex: 10% 0;
}


/* INSCRIPTION */

.form-fields {
    max-width: 50vh;
    margin: 10px auto auto;
}